<!DOCTYPE html>

<html>
  <head>
  
  </head>
  
  <body>
    <h1>Welcome to login portal</h1>
    <form action="/signup" method="post">
    
            <label for="exampleInputEmail1">Username</label>
            <input type="email" class="form-control" id="username" name="username">
    
        <br><br>
        
            <label for="exampleInputEmail1">First names</label>
            <input type="email" class="form-control" id="firstname" name="firstname">
    
        <br><br>
        
            <label for="exampleInputEmail1">Last name</label>
            <input type="email" class="form-control" id="lastname" name="lastname">
        
        <br><br>
        
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
    
        <br><br>
        
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="pass1" name="pass1">
    
        <br><br>
        
          <label for="exampleInputPassword1">Re enter Password</label>
          <input type="password" class="form-control" id="pass2" name="pass2">
    
        <br>
        <button type="submit" class="btn btn-primary">Create account</button>
      </form>
  </body>    
</html>  